# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_KAWVIN_PAD24_LEFTHAND

config ZMK_KEYBOARD_NAME
    default "Kawvin_Pad24"

#config ZMK_RGB_UNDERGLOW
#    select WS2812_STRIP
#    select SPI

endif
